h1 {
    text-align: center;
}
img {
    display: block;
    height: auto;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 100px;
}   
h2 {
    text-align: center;
}

p{
    text-align: center;
}
ul {
    text-align: center;
}
li {
    text-align: center;
}
body {
  background-color: white; 
}
.center-link {
    display: block;
    text-align: center;
}